body{
	font-family: 'Lato';
}

.head{
	margin-bottom: 50px;
	padding-bottom: 0px;
	border-bottom: solid 1px #ccc;
}
.profile{
	width: 30px;
	height: auto;
	border-radius: 15px;
	vertical-align: -4px;
}
.heading{
	color: #333;
	font-weight: 400;
	font-size: 40px;
	width: 100%;
	text-align: center;
}
.heading .links{
	font-weight: 400;
	font-size: 12px;
	margin-top: 30px;
}
.links a, .links a:hover, .links a:focus{
	text-decoration: none;
	color: #666;
}
.title{
	font-weight: 400;
	font-size: 32px;
	color: #333;
}
.title a, .title a:hover, .title a:focus,.article a, .article a:hover, .article a:focus{
	text-decoration: none;
	color: #333;
}
.article{
	font-weight: 300;
	font-size: 18px;
	color: #404040;
}

.btn-post{
	margin-top: 10px;
}