body{
	font-family: 'Lato';
	background: url('https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/27/277/277157/pattern-with-travel-symbols-on-blue-f.jpg?1418934330');
}

.head{
	padding: 10px 40px 20px 40px;
	/* border-bottom: dashed 1px #fff; */
	background: #81C6C1;
}
.content{
	padding: 20px 40px 10px 40px;
        background: #81C6C1;
}

.profile{
	width: 30px;
	height: auto;
	border-radius: 15px;
	vertical-align: -4px;
}
.heading{
	color: #333;
	font-weight: 400;
	font-size: 40px;
	width: 100%;
	text-align: center;
}
.heading .links{
	font-weight: 400;
	font-size: 14px;
	margin-top: 20px;
}
.links a, .links a:hover, .links a:focus{
	text-decoration: none;
	padding: 5px 10px;
	background: #fff;
	border-radius: 3px;
	color: #333;
}
.title{
	font-weight: 400;
	font-size: 32px;
	color: #333;
}
.title a, .title a:hover, .title a:focus,.article a, .article a:hover, .article a:focus{
	text-decoration: none;
	color: #333;
}
.article{
	font-weight: 300;
	font-size: 18px;
	color: #404040;
}
.code{
	font-size: 16px;
	padding: 20px 40px;
	background-color: #eee;
	border-radius: 10px;
}
.btn-post{
	margin-top: 10px;
}
