body{
	font-family: 'Roboto';
}

.head{
	margin-bottom: 50px;
	padding-bottom: 0px;
	border-bottom: solid 1px #ccc;
}
.profile{
	width: 30px;
	height: auto;
	border-radius: 15px;
	vertical-align: -4px;
}
.heading{
	color: #444;
	font-family: 'Nixie One';
	font-size: 28px;
	width: 100%;
	text-align: center;
}
.heading .links{
	font-weight: 300;
	font-size: 16px;
	font-family: 'Roboto';
	margin-top: 30px;
}
.links a:hover, .links a:focus{
	text-decoration: none;
}
.title{
	font-weight: 300;
	font-size: 20px;
}
.article{
	font-weight: 300;
	font-size: 16px;
}

.btn-post{
	margin-top: 10px;
}