{% extends "layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="/static/css/post.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
	{% autoescape false %}
	<p class="article">
	    <div class="row">
	    	<div class="col-md-6">
	    		<i class="fa fa-envelope-o"></i>&emsp;dinesh.padisetti@gmail.com<br><br>
	    		<i class="fa fa-twitter"></i>&emsp;<a href="https://twitter.com/dinnu93" style="color:#404040" target="_blank">https://twitter.com/dinnu93</a>
	    	</div>
	    	<div class="col-md-6">
	    		<i class="fa fa-github"></i>&emsp;<a href="https://github.com/dinnu93" style="color:#404040" target="_blank">https://github.com/dinnu93</a><br><br>
	    		<i class="fa fa-linkedin"></i>&emsp;<a href="https://in.linkedin.com/in/dinnu93" style="color:#404040" target="_blank">https://in.linkedin.com/in/dinnu93</a>
	    	</div>
	    </div>
	</p>
    {% endautoescape %}
{% endblock %}

