<!DOCTYPE html>
<html>
<head>
    {% block head %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Dinesh Padisetti{% endblock %}</title>
	<link rel="shortcut icon" href="/static/img/dinnu.png">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,300,100' rel='stylesheet' type='text/css'>
	{% endblock %}
</head>
<body>
	<div class="container-fluid" style="margin-top:70px;">
	    <div class="row">
	    	<div class="col-md-2"></div>
	    	<div class="col-md-8 head">
	    		<div class="heading">
	    		    DINESH&ensp;PADISETTI
	    		    <br>
	    		    <p class="links">
	    		    	<a href="/">BLOG</a> &emsp; <a href="/about">ABOUT</a> &emsp; <a href="/projects">PROJECTS</a> &emsp; <a href="/contact">CONTACT</a>
	    		    </p>
	    		    
	    		</div>

	    	</div>
	    	<div class="col-md-2"></div>
	    </div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				{% block content %}{% endblock %}
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>